/*
Gary Hollands - solriche - 2009 - Default Template Stylesheet
This stylesheet is available under the terms of the GNU General Public License as published by
the Free Software Foundation - Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/
*{
	margin: 0;
	padding: 0;
}
html,body{
	font-family: "lucida grande", "lucida sans unicode", arial, "bitstream vera sans", sans-serif;/*mac,windoze,linux*/
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	line-height: 1.5;
}
/*-------------------------Page layout boxes etc-------------------------*/
#container {
	width: 98%;/*48em or 98%*/
	margin: 0 auto 0 auto;
}
#masterbox {
	width: 98%;
	margin: 0 auto 2em auto;
}
#content{
	margin-top: 0.5em;
	padding-bottom: 0.5em;
}
#content p{
	font-size: 100%;
	margin: 0 0 0.25em 0;
}
#content .painting_record{
	margin: 0 0 0.5em 0;
}
#content .painting_record p{
	margin: 0;
}
#content .category{
	font-weight: bold;
}
#content .inset{
	margin-left: 1em;
}	
#content ul{
	margin: 0 0 0 2em;
}
/*-----------------------------General CSS-----------------------------*/
a{
	outline: none;
}
/*------Colors are chosen with consideration for those with visibility disabilities such as deuteranomaly.------*/
a:link{
	color: rgb(0,28,112);
	text-decoration: underline;
}
a:visited{
	color: rgb(112,101,0);
	text-decoration: underline;
}
a:hover{
	color: rgb(112,23,0);
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	color: rgb(59,116,179);
}
	h1{font-size: 130%;}
	h2{font-size: 100%;}
	h3{font-size: 90%;}
	h4{font-size: 90%;}
	h5{font-size: 90%;}
	h6{font-size: 85%;}
/*------Font Family choices, these are the most common and/or close matching fonts across the various operating systems.------*/
.serif{
	font-family: georgia, "DejaVu Serif", "bitstream vera serif", serif;/*mac/windoze,linux*/
}
.fantasy{
	font-family: papyrus, impact, fantasy;/*mac/windoze,linux*/
}
.cursive{
	font-family: "Comic Sans MS", cursive;/*mac/windoze/linux*/
}
pre,code{
	font-family: "lucida grande", "lucida sans unicode", arial, "bitstream vera sans", sans-serif;
	color: rgb(80,80,80);
}
pre{
	font-size: 80%;
	margin: 0.25em 0 0 0;
}
pre .wrap{
	white-space: normal;
}
abbr{
	border-bottom: dotted 1px rgb(0,0,0);
	cursor: help;
}
img{
	border: 0;
}

.missing-tag {
	color: red;
	
}

.main-code {
	overflow: hidden;
	max-height: 600px;
	
}
.main-code div {
	padding-left: 25px;
}
/*
table > tbody > tr > td:nth-child(3) {
	width: 4em;
	color: red;
	font-size: 10px;
	border: 2px;
}
*/



 .source-layout, .target-layout {
	overflow: hidden;
	max-height: 600px;
 }
 
  table { 
  	display: table;
  	border: 3px solid black; 
  	width: 100%;
  	border-collapse: auto;
  	margin-bottom: 10px;
  }
  .source-layout table { 
	background: #E6ED6E;
  }
    .source-layout table tbody{
		background: #F2E5EF;
	}
  
  .target-layout table { 
	background: #C2D9F3;
  }
	  .target-layout table tbody{
		background: #F2E5EF;
	  }
  
  .rule-row table { 
    margin-top: 0.2em;
	background: #E6ED6E;
  }
    .rule-row table tbody{
		background: #F2E5EF;
	}
  
  .parameter-row a {
	font-size: 18px;
	font-weight: bold;
  }
  .parameter-row table { 
    margin-top: 0.6em;
	background: #B6B5ED;
  }
    .parameter-row table tbody{
		background: #F2E5EF;
	}
	
  table {
	border-collapse: seperate;
	border: 1px dotted black;
	width: 100%;
  }
  table tbody tr th { 
  	display: table-cell; border: 2px solid black; padding: 10px;
  	background-color: #8080ff;
    color: white;
  }
  table tbody tr td { 
	display: table-cell; 
	border: 1px solid black;
	border: 1px solid black; 
	padding: 5px;
	font-size: small;
  }
  
.event-name {
	color: blue;
	font-size: 26px;
}
/*
  .rule-row {
	margin-left: -2em;
	margin-right: 0em;
  }
  .rule-row ul{
	display: table;
	width: 100%;
  }
  .rule-row ul li{
	display: table-cell;
	border: 2px solid black;
  }

  .horizontal-list ul
{
	margin: 5px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.horizontal-list ul li { 
	display: inline;
	padding: 2px; 
	line-height: 2.9;
}

.horizontal-list ul li a {
  text-decoration: none;
  padding: .2em 1em;
  box-shadow: 0 0 3pt 2pt #000000;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-bottom: 1.0em;
  padding-top: 1.0em;
}
*/



span.um-panel-header .um-panel-title {
	font-size:18px;
	font-weight:bold;
	color:brown;
	display:block;
	line-height:20px;
	padding:10px 0 0;
	margin-right:10px;
}

span.um-panel-header .um-panel-title a{
	text-decoration:underline;
}
span.um-panel-header .um-panel-title-right {
	font-size:14px;
	font-weight:bold;
	color:blue;
	display:inline;
	float: right;
}
span.um-panel-title-right:hover {
	color:red;
	cursor: pointer;
}
span.um-panel-header a{
	color:#EEEEEE;
}
span.um-panel-header .um-panel-title-right a{
	text-decoration:underline;
}
span.um-panel-header a:hover{
	color:blue;
}
span.um-panel-header .um-panel-title-right .legend {
	
	color:blue;
	font-weight:bold;
}




.jsonWindow {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


#header-fixed { 
    position: fixed; 
    top: 0px; display:none;
    position: fixed;
	top: 0px;
	background-color: #9D7BEA;
	color:white;
	text-align: center;
}
#header-fixed thead tr td h1  {	color: white; }
#table-1 {
	background-color: #9D7BEA;
	text-align: center;
}
#table-1 thead tr td h1 {	color: white; }

.Search-form {
	padding: 0px;
}
.Search-form div ul li a span {
	padding: 0px;
	width: 300px;
	font-size: 8px;
}
/* Over ride defautl styles */
.ui-accordion .ui-accordion-content {
	padding: 0px;
}

.filterlist li {
	padding: 0px;
}

div.sourcevents-table table {
	background: infobackground;
}

div.sourcevents-table table thead tr:first-child {
	font-size: 20px;
	text-align: center;
	color: blue;
}
div.sourcevents-table table thead tr:last-child {
	font-size: 16px;
}
div.sourcevents-table {
	max-height: 600px;
	overflow: auto;
	padding-top: 2em;
}

.parameter-row table thead tr:first-child { font-size: medium; }

.parameter-row table tbody tr.action-row {background: #e1c4da;}

.dblclck_div {
	cursor: pointer;
}