  .ui-autocomplete-loading {
    background: white url("http://jqueryui.com/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  #accordion-resizer {
    padding: 5px;
    width: 320px;
    height: 400px;
  }
  p {
  	font-size: 10px;
  }
  .filterlist li {
  	list-style: none;
  }


/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #0000FF;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #00FF00;
}

a.button-link {
	display:block;
	background: #808080;
/* 	width: 10em; */
	height: 3em;
	text-align: center;
	padding-top: 1em;
	border: 2px solid #a1a1a1;
    padding: 10px;
    padding-top: 15px; 
    background: #dddddd;
    border-radius: 20px;
    font-size: larger;
	
}